// Font
$main-font: 'lucida console'

// Size
$desktop-width            : 1280px // Выше этой отметки контент можно располагать в две колонки, тексты 1000px
$sm-desktop-width         : 1279px // Ниже этой отметки контент в одну колонку, всё в 1000px шириной
$mobile-width             : 1000px // Ниже этой отметки header превращаем в гамбургер, а контент 100% ширины
$default-width            : 1000px

$default-padding          : 25px

// Color
$blue-color              : #000080
$grey-color              : #f1f1f1

$dark-font-color         : #3a3a3a
$light-font-color        : #f1f1f1

// Transitions
$transition: all 500ms fadeIn