
hr 
{
    border: none; /* Убираем границу */
    background-color: white; /* Цвет линии */
    color: white; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
	width:100%;
	margin:0px 0px 0px 0px
}

header#not_ie
{
	display:none;
}		

table#table_ie	
{
	height:auto;
}

.method	
{
	margin-top:90px;
	padding-top:0;
}	