@import "fonts"
@import "vars"
@import "reset"
@import "mixins"
@import "hamburger"
@import "header"

*
  transition: $transition

html, body
  height: 100%

body
  font-family: $main-font
  overflow-y: scroll
  color: $dark-font-color
  background-color: $grey-color
  line-height: 20px
  main
    position: relative
    height: inherit
    padding-top: 65px
    @media screen and ( max-width: $mobile-width )
      padding-top: 50px
    section
      padding: $default-padding
      min-height: 100%
      display: flex
      align-items: center
      justify-content: center
      .container-default
        @include default-width
        text-indent: 40px
      .container-full
        width: 100%
        display: flex
        justify-content: space-around
        align-items: center
        @media screen and ( max-width: $mobile-width )
          flex-wrap: wrap

table
  width: 94vw
tr 
  line-height: 25px

td
  text-align: center

#red
  color: red

#img
  text-indent: 0px
  text-align: center
  flex-shrink: 0
  @media screen and ( max-width: $mobile-width )
    flex-shrink: 1

.section_methods
  @media screen and ( max-width: $mobile-width )
    font-size: 11px

