<header id="not_ie">
   <nav>

      <ul id="full" class="center">
         <li>
            <p id="logo"><img id="img_logo" src="logo.png"></p>
         </li>
         <li>|</li>
         <li><a href="index.html"><b>ПРОГРАММА</b></a></li>
         <li>|</li>
         <li><a href="methods.html">МЕТОДИКИ</a></li>
         <li>|</li>
         <li><a href="contacts.html">КОНТАКТЫ</a></li>
         <li>|</li>
      </ul>

   </nav>
   <hr style="margin: 0;">
</header>


<!--[if lt IE 11]>
   <header id="header" class="center">
      <nav class="center">
         <table id="table_ie" class="center" border="0" cellpadding="0" cellspacing="0">		   
            <tr>
             <td><p id="logo"><img id="img_logo" src="logo.png"></p></td>
             <td>|</td>
              <td><a href="index.html"><b>ПРОГРАММА</b></a></td>
             <td>|</td>
              <td><a href="methods.html">МЕТОДИКИ</a></td>
             <td>|</td>
              <td><a href="contacts.html">КОНТАКТЫ</a></td>
             <td>|</td>
            </tr>
         </table>
      </nav>
   <hr style="margin: 0;">
   </header>
   <![endif]-->