<header class="header">

  <nav class="desktop">
    <ul>
      <li>
        <div class="logo"><img src="img/logo.png" alt=""></div>
      </li>
      <li>|</li>
      <li><a id="index" href="index.html">Программа</a></li>
      <li>|</li>
      <li><a id="methods" href="methods.html">Методики</a></li>
      <li>|</li>
      <li><a id="contacts" href="contacts.html">Контакты</a></li>
      <li>|</li>
    </ul>
  </nav>

  <nav class="mobile">
    <div class="logo"><img src="img/logo.png" alt=""></div>

    <button class="hamburger">
      <span></span>
    </button>

    <div class="menu">
      <ul>
        <li class="index"><a href="index.html">Программа</a></li>
        <li class="methods"><a href="methods.html">Методики</a></li>
        <li class="contacts"><a href="contacts.html">Контакты</a></li>
      </ul>
    </div>
  </nav>
  
</header>